Practice/Algorithms/test.c
Practice/Algorithms/test
Practice/Algorithms/solve-me-first
Practice/Algorithms/simple-array-sum
Practice/Algorithms/compare-the-triplets
Practice/Algorithms/a-very-big-sum
Practice/Algorithms/diagonal-difference
Practice/Algorithms/plus-minus
Practice/Algorithms/staircase
Practice/Algorithms/mini-max-sum
Practice/Algorithms/birthday-cake-candles
Practice/Algorithms/time-conversion
Practice/Algorithms/clique
Practice/Algorithms/grading
Practice/Algorithms/apple-and-orange
Practice/Algorithms/kangaroo
Practice/Algorithms/between-two-sets
Practice/Algorithms/breaking-best-and-worst-records
Practice/Algorithms/the-birthday-bar
Practice/Algorithms/divisible-sum-pairs
Practice/Algorithms/migratory-birds
Practice/Algorithms/day-of-the-programmer
Practice/Algorithms/bon-appetit
Practice/Algorithms/sock-merchant


Practice/C/libs
Practice/C/libs.c
Practice/C/test.c
Practice/C/test
Practice/C/conditional-statements-in-c
Practice/C/for-loop-in-c
Practice/C/functions-in-c
Practice/C/hello-world-c
Practice/C/playing-with-characters
Practice/C/pointer-in-c
Practice/C/printing-pattern-2
Practice/C/querying-the-document
Practice/C/sum-numbers-c
Practice/C/sum-of-digits-of-a-five-digit-number
Practice/C/1d-arrays-in-c
Practice/C/reverse-array-c
Practice/C/printing-tokens-
Practice/C/frequency-of-digits-1
Practice/C/dynamic-array-in-c
Practice/C/variadic-functions-in-c
Practice/C/sorting-array-of-strings
Practice/C/recursion-in-c
Practice/C/students-marks-sum
Practice/C/permutations-of-strings
Practice/C/structuring-the-document
Practice/C/post-transition
Practice/C/too-high-boxes
Practice/C/small-triangles-large-triangles
Practice/C/bitwise-operators-in-c

Makefile