Practice/Algorithms/test.c
Practice/Algorithms/test
Practice/Algorithms/test1.c
Practice/Algorithms/test1
Practice/Algorithms/solve-me-first
Practice/Algorithms/simple-array-sum
Practice/Algorithms/compare-the-triplets
Practice/Algorithms/a-very-big-sum
Practice/Algorithms/diagonal-difference
Practice/Algorithms/plus-minus
Practice/Algorithms/staircase
Practice/Algorithms/mini-max-sum
Practice/Algorithms/birthday-cake-candles
Practice/Algorithms/time-conversion
Practice/Algorithms/clique
Practice/Algorithms/grading
Practice/Algorithms/apple-and-orange
Practice/Algorithms/kangaroo
Practice/Algorithms/between-two-sets
Practice/Algorithms/breaking-best-and-worst-records
Practice/Algorithms/the-birthday-bar
Practice/Algorithms/divisible-sum-pairs
Practice/Algorithms/migratory-birds
Practice/Algorithms/day-of-the-programmer
Practice/Algorithms/bon-appetit
Practice/Algorithms/sock-merchant
Practice/Algorithms/drawing-book
Practice/Algorithms/counting-valleys
Practice/Algorithms/electronics-shop
Practice/Algorithms/cats-and-a-mouse
Practice/Algorithms/magic-square-forming
Practice/Algorithms/picking-numbers
Practice/Algorithms/climbing-the-leaderboard
Practice/Algorithms/the-hurdle-race
Practice/Algorithms/designer-pdf-viewer
Practice/Algorithms/utopian-tree
Practice/Algorithms/angry-professor
Practice/Algorithms/beautiful-days-at-the-movies
Practice/Algorithms/strange-advertising
Practice/Algorithms/save-the-prisoner
Practice/Algorithms/circular-array-rotation
Practice/Algorithms/permutation-equation
Practice/Algorithms/jumping-on-the-clouds-revisited
Practice/Algorithms/find-digits
Practice/Algorithms/extra-long-factorials
Practice/Algorithms/append-and-delete
Practice/Algorithms/sherlock-and-squares
Practice/Algorithms/library-fine
Practice/Algorithms/cut-the-sticks
Practice/Algorithms/non-divisible-subset
Practice/Algorithms/repeated-string
Practice/Algorithms/jumping-on-the-clouds
Practice/Algorithms/equality-in-a-array
Practice/Algorithms/queens-attack-2
Practice/Algorithms/acm-icpc-team
Practice/Algorithms/taum-and-bday
Practice/Algorithms/organizing-containers-of-balls
Practice/Algorithms/encryption
Practice/Algorithms/bigger-is-greater
Practice/Algorithms/kaprekar-numbers
Practice/Algorithms/beautiful-triplets
Practice/Algorithms/minimum-distances
Practice/Algorithms/halloween-sale
Practice/Algorithms/the-time-in-words
Practice/Algorithms/chocolate-feast
Practice/Algorithms/service-lane
Practice/Algorithms/lisa-workbook
Practice/Algorithms/flatland-space-stations
Practice/Algorithms/fair-rations
Practice/Algorithms/cavity-map
Practice/Algorithms/manasa-and-stones
Practice/Algorithms/the-grid-search
Practice/Algorithms/happy-ladybugs
Practice/Algorithms/strange-code
Practice/Algorithms/3d-surface-area
Practice/Algorithms/absolute-permutation
Practice/Algorithms/bomber-man
Practice/Algorithms/two-pluses
Practice/Algorithms/larrys-array
Practice/Algorithms/almost-sorted
Practice/Algorithms/matrix-rotation-algo



Practice/DataStructures/test
Practice/DataStructures/test.c
Practice/DataStructures/test1.c
Practice/DataStructures/test1
Practice/DataStructures/arrays-ds
Practice/DataStructures/2d-array
Practice/DataStructures/dynamic-array
Practice/DataStructures/array-left-rotation
Practice/DataStructures/sparse-arrays
Practice/DataStructures/crush
Practice/DataStructures/maximum-cost-queries
Practice/DataStructures/tree-top-view
Practice/DataStructures/poisonous-plants
Practice/DataStructures/print-the-elements-of-a-linked-list
Practice/DataStructures/insert-a-node-at-the-tail-of-a-linked-list
Practice/DataStructures/insert-a-node-at-the-head-of-a-linked-list
Practice/DataStructures/insert-a-node-at-a-specific-position-in-a-linked-list
Practice/DataStructures/delete-a-node-from-a-linked-list
Practice/DataStructures/print-the-elements-of-a-linked-list-in-reverse
Practice/DataStructures/reverse-a-linked-list
Practice/DataStructures/compare-two-linked-lists
Practice/DataStructures/merge-two-sorted-linked-lists
Practice/DataStructures/get-the-value-of-the-node-at-a-specific-position-from-the-tail
Practice/DataStructures/delete-duplicate-value-nodes-from-a-sorted-linked-list
Practice/DataStructures/cycle-detection
Practice/DataStructures/find-the-merge-point-of-two-joined-linked-lists
Practice/DataStructures/insert-a-node-into-a-sorted-doubly-linked-list
Practice/DataStructures/reverse-a-doubly-linked-list



Practice/C/test.c
Practice/C/test
Practice/C/conditional-statements-in-c
Practice/C/for-loop-in-c
Practice/C/functions-in-c
Practice/C/hello-world-c
Practice/C/playing-with-characters
Practice/C/pointer-in-c
Practice/C/printing-pattern-2
Practice/C/querying-the-document
Practice/C/sum-numbers-c
Practice/C/sum-of-digits-of-a-five-digit-number
Practice/C/1d-arrays-in-c
Practice/C/reverse-array-c
Practice/C/printing-tokens-
Practice/C/frequency-of-digits-1
Practice/C/dynamic-array-in-c
Practice/C/variadic-functions-in-c
Practice/C/sorting-array-of-strings
Practice/C/recursion-in-c
Practice/C/students-marks-sum
Practice/C/permutations-of-strings
Practice/C/structuring-the-document
Practice/C/post-transition
Practice/C/too-high-boxes
Practice/C/small-triangles-large-triangles
Practice/C/bitwise-operators-in-c


Practice/Python/env/
Contests/projecteuler/env/
Makefile
libs
libs.c
.vscode/
array
array.c
Contests/

ProjectEuler/test
ProjectEuler/test.c
ProjectEuler/euler001
ProjectEuler/euler002
ProjectEuler/euler003
ProjectEuler/euler004
ProjectEuler/euler005
ProjectEuler/euler006
ProjectEuler/euler007
ProjectEuler/euler008
ProjectEuler/euler009
ProjectEuler/euler010
ProjectEuler/euler011
ProjectEuler/euler012
ProjectEuler/euler013
ProjectEuler/euler014
ProjectEuler/euler015
ProjectEuler/euler016
ProjectEuler/euler017
ProjectEuler/euler018
ProjectEuler/euler019
ProjectEuler/euler020
ProjectEuler/euler021
ProjectEuler/euler022
ProjectEuler/euler023
ProjectEuler/euler024
ProjectEuler/euler025
ProjectEuler/euler026
ProjectEuler/euler027
ProjectEuler/euler028
ProjectEuler/euler029
ProjectEuler/euler030
ProjectEuler/euler031
ProjectEuler/euler032
ProjectEuler/euler033
ProjectEuler/euler034
ProjectEuler/euler035
ProjectEuler/euler036
ProjectEuler/euler037
ProjectEuler/euler038
ProjectEuler/euler039
ProjectEuler/euler040
ProjectEuler/euler041
ProjectEuler/euler042
ProjectEuler/euler043
ProjectEuler/euler044
ProjectEuler/euler045
ProjectEuler/euler046
ProjectEuler/euler047
ProjectEuler/euler048
ProjectEuler/euler049
ProjectEuler/euler050
ProjectEuler/euler051
ProjectEuler/euler052
ProjectEuler/euler053
ProjectEuler/euler054
ProjectEuler/euler055
ProjectEuler/euler056
ProjectEuler/euler057
ProjectEuler/euler058
ProjectEuler/euler059
ProjectEuler/euler060
ProjectEuler/euler061
ProjectEuler/euler062
ProjectEuler/euler063
ProjectEuler/euler064
ProjectEuler/euler065
ProjectEuler/euler066
ProjectEuler/euler067
ProjectEuler/euler068
ProjectEuler/euler069
ProjectEuler/euler070
ProjectEuler/euler071
ProjectEuler/euler072
ProjectEuler/euler073
ProjectEuler/euler074
ProjectEuler/euler075
ProjectEuler/euler076
ProjectEuler/euler077
ProjectEuler/euler078
ProjectEuler/euler079
ProjectEuler/euler080
ProjectEuler/euler081
ProjectEuler/euler082
ProjectEuler/euler083
ProjectEuler/euler084
ProjectEuler/euler085
ProjectEuler/euler086
ProjectEuler/euler087
ProjectEuler/euler088
ProjectEuler/euler089
ProjectEuler/euler090
ProjectEuler/euler091
ProjectEuler/euler092
ProjectEuler/euler093
ProjectEuler/euler094
ProjectEuler/euler095
ProjectEuler/euler096
ProjectEuler/euler097
ProjectEuler/euler098
ProjectEuler/euler099
ProjectEuler/euler100
ProjectEuler/euler101
ProjectEuler/euler102
ProjectEuler/euler103
ProjectEuler/euler104
ProjectEuler/euler105
ProjectEuler/euler106
ProjectEuler/euler107
ProjectEuler/euler108
ProjectEuler/euler109
ProjectEuler/euler110
ProjectEuler/euler111
ProjectEuler/euler112
ProjectEuler/euler113
ProjectEuler/euler114
ProjectEuler/euler115
ProjectEuler/euler116
ProjectEuler/euler117
ProjectEuler/euler118
ProjectEuler/euler119
ProjectEuler/euler120
ProjectEuler/euler121
ProjectEuler/euler122
ProjectEuler/euler123
ProjectEuler/euler124
ProjectEuler/euler125
ProjectEuler/euler126
ProjectEuler/euler127
ProjectEuler/euler128
ProjectEuler/euler129
ProjectEuler/euler130
ProjectEuler/euler131
ProjectEuler/euler132
ProjectEuler/euler133
ProjectEuler/euler134
ProjectEuler/euler135
ProjectEuler/euler136
ProjectEuler/euler137
ProjectEuler/euler138
ProjectEuler/euler139
ProjectEuler/euler140
ProjectEuler/euler141
ProjectEuler/euler142
ProjectEuler/euler143
ProjectEuler/euler144
ProjectEuler/euler145
ProjectEuler/euler146
ProjectEuler/euler147
ProjectEuler/euler148
ProjectEuler/euler149
ProjectEuler/euler150
ProjectEuler/euler151
ProjectEuler/euler152
ProjectEuler/euler153
ProjectEuler/euler154
ProjectEuler/euler155
ProjectEuler/euler156
ProjectEuler/euler157
ProjectEuler/euler158
ProjectEuler/euler159
ProjectEuler/euler160
ProjectEuler/euler161
ProjectEuler/euler162
ProjectEuler/euler163
ProjectEuler/euler164
ProjectEuler/euler165
ProjectEuler/euler166
ProjectEuler/euler167
ProjectEuler/euler168
ProjectEuler/euler169
ProjectEuler/euler170
ProjectEuler/euler171
ProjectEuler/euler172
ProjectEuler/euler173
ProjectEuler/euler174
ProjectEuler/euler175
ProjectEuler/euler176
ProjectEuler/euler177
ProjectEuler/euler178
ProjectEuler/euler179
ProjectEuler/euler180
ProjectEuler/euler181
ProjectEuler/euler182
ProjectEuler/euler183
ProjectEuler/euler184
ProjectEuler/euler185
ProjectEuler/euler186
ProjectEuler/euler187
ProjectEuler/euler188
ProjectEuler/euler189
ProjectEuler/euler190
ProjectEuler/euler191
ProjectEuler/euler192
ProjectEuler/euler193
ProjectEuler/euler194
ProjectEuler/euler195
ProjectEuler/euler196
ProjectEuler/euler197
ProjectEuler/euler198
ProjectEuler/euler199
ProjectEuler/euler200
ProjectEuler/euler201
ProjectEuler/euler202
ProjectEuler/euler203
ProjectEuler/euler204
ProjectEuler/euler205
ProjectEuler/euler206
ProjectEuler/euler207
ProjectEuler/euler208
ProjectEuler/euler209
ProjectEuler/euler210
ProjectEuler/euler211
ProjectEuler/euler212
ProjectEuler/euler213
ProjectEuler/euler214
ProjectEuler/euler215
ProjectEuler/euler216
ProjectEuler/euler217
ProjectEuler/euler218
ProjectEuler/euler219
ProjectEuler/euler220
ProjectEuler/euler221
ProjectEuler/euler222
ProjectEuler/euler223
ProjectEuler/euler224
ProjectEuler/euler225
ProjectEuler/euler226
ProjectEuler/euler227
ProjectEuler/euler228
ProjectEuler/euler229
ProjectEuler/euler230
ProjectEuler/euler231
ProjectEuler/euler232
ProjectEuler/euler233
ProjectEuler/euler234
ProjectEuler/euler235
ProjectEuler/euler236
ProjectEuler/euler237
ProjectEuler/euler238
ProjectEuler/euler239
ProjectEuler/euler240
ProjectEuler/euler241
ProjectEuler/euler242
ProjectEuler/euler243
ProjectEuler/euler244
ProjectEuler/euler245
ProjectEuler/euler246
ProjectEuler/euler247
ProjectEuler/euler248
ProjectEuler/euler249
ProjectEuler/euler250
ProjectEuler/euler251
ProjectEuler/euler252
ProjectEuler/euler253
ProjectEuler/euler254
ProjectEuler/euler255
ProjectEuler/euler256
ProjectEuler/euler257
ProjectEuler/euler258
ProjectEuler/euler259
ProjectEuler/euler260
ProjectEuler/euler261
ProjectEuler/euler262
ProjectEuler/euler263
ProjectEuler/euler264
ProjectEuler/euler265
ProjectEuler/euler266
ProjectEuler/euler267
ProjectEuler/euler268
ProjectEuler/euler269
ProjectEuler/euler270
ProjectEuler/euler271
ProjectEuler/euler272
ProjectEuler/euler273
ProjectEuler/euler274
ProjectEuler/euler275
ProjectEuler/euler276
ProjectEuler/euler277
ProjectEuler/euler278
ProjectEuler/euler279
ProjectEuler/euler280
ProjectEuler/euler281
ProjectEuler/euler282
ProjectEuler/euler283
ProjectEuler/euler284
ProjectEuler/euler285
ProjectEuler/euler286
ProjectEuler/euler287
ProjectEuler/euler288
ProjectEuler/euler289
ProjectEuler/euler290
ProjectEuler/euler291
ProjectEuler/euler292
ProjectEuler/euler293
ProjectEuler/euler294
ProjectEuler/euler295
ProjectEuler/euler296
ProjectEuler/euler297
ProjectEuler/euler298
ProjectEuler/euler299